
:root{
  --containerColour: rgb(197, 191, 191);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: var(--containerColour);  
  max-width: 900px !important;
}
.myp-10 {
  padding: 50px 90px !important;
  box-sizing: border-box;
}