:root {
  --containerColour: rgb(255, 255, 255);
  --backgroundColour: rgb(115, 137, 199);
}
html{
  height:100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: var(--backgroundColour) !important; 
  height: 100%; 
  font-family: 'PTSansNarrow Regular';
  color: white;
  transition:linear 0.5s;
}

.container {
  background-color: var(--containerColour);
  max-width: 700px !important;
  width: 100%;
  border-radius: 40px;
  margin: 0 auto;
}

.myp-10 {
  padding: 30px 40px !important;
  box-sizing: border-box;
}

#quote-text {
  font-family: 'PTSansNarrow Bold' !important; 
}

#author, #quote-icon, #quote-text{  
  color: var(--backgroundColour) !important;
}

.custom-button {
  background-color: var(--backgroundColour) !important;
  color:white !important;
}

.custom-button:hover, .custom-anchor:hover {
  filter: brightness(120%);
}

.custom-anchor {
  background-color: var(--backgroundColour) !important;
  margin-right: 8px;
}


@font-face {
  font-family: 'Dancing Script';
  src: url('./fonts/Dancing_Script/static/DancingScript-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'PTSansNarrow Bold';
  src: url('./fonts/PT_Sans_Narrow/PTSansNarrow-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PTSansNarrow Regular';
  src: url('./fonts/PT_Sans_Narrow/PTSansNarrow-Regular.ttf') format('truetype');
}

.fade-in {
  animation: fade-in 0.5s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
